@import './../vars.scss';

.faq-section {
	background-color: rgba(10, 10, 10, 0.98);
	background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/NRSU0MZCMT.jpg');
	background-size: cover;
	background-blend-mode: overlay;
	color: #fff;
	min-height: 750px;
	max-height: 750px;
	overflow: hidden;

	.section__title {
		text-align: center;
	}

	.faq {
		list-style: none;
		font-family: 'Roboto', sans-serif;

		li {
			display: block;
			margin-bottom: 1rem;
		}

		&__question {
			padding-left: 0;
			width: 100%;
			text-align: left;

			background: none;
			color: #fff;

			border-bottom: 1px solid rgba(255, 255, 255, 0.25);

			i {
				float: left;
				margin-right: 1rem;
				transition: 150ms all ease-in-out;
			}

			&.active {
				i {
					transform: rotate(90deg);
				}

				& + .faq__answer {
					padding: 1rem calc(1rem + 14px);
					height: 140px;
				}
			}
		}

		&__answer {
			height: 0;
			padding: 0 calc(1rem + 14px);
			display: block;

			font-family: 'Rubik', sans-serif;
			background: rgba(255, 255, 255, 0.05);
			backdrop-filter: blur(6px);

			font-size: 14px;
			line-height: 1.5em;

			transition: 150ms all ease-in-out;

			p {
				margin: 0;
			}

			a {
				position: relative;
				top: 0.5rem;
				padding-top: 3rem;
				color: $accent-light;
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
}

.contact-section {
	font-family: 'Rubik', sans-serif;
	padding-bottom: 6rem;

	&__content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.left-col {
		// display: flex;
		// flex-direction: column;
		// justify-content: space-between;
		font-family: 'Rubik', sans-serif;
		font-weight: bold;
		letter-spacing: 1px;
	}

	.addr {
		font-style: normal;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}

	.contact-details {
	}

	p {
		margin: 0.5rem 0;
		font-size: 18px;
	}

	.contact-form {
		input:first-of-type {
			margin-top: 0;
		}

		input,
		textarea {
			padding: 8px;
			margin: 8px 0;
			border: 1px solid #222;
		}

		input[type='submit'] {
			background: #222;
			border: none;
			color: #fff;
			font-family: 'Rubik', sans-serif;
		}
	}
}

.footer-section {
	background: #111;
	color: #fff;
	font-family: 'Rubik';

	.footer-col {
		padding: 0 1rem;

		h3 {
			margin: 0 0 2rem;
		}
	}

	img {
		margin-bottom: 2rem;
		width: 256px;
		height: auto;
	}
	h3 {
		font-size: 16px;
		opacity: 0.6;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			margin: 1rem 0;
		}
	}
}
