@import './../vars.scss';

.faq-section {
	.section__title {
		text-align: center;
	}

	.faq {
		list-style: none;
		font-family: 'Roboto', sans-serif;

		li {
			display: block;
			margin-bottom: 0.5rem;
		}

		&__question {
			width: 100%;
			text-align: left;

			i {
				transition: 150ms all ease-in-out;
			}

			&.active {
				i {
					transform: rotate(90deg);
				}
			}
		}

		&__answer {
			font-family: 'Rubik', sans-serif;
			line-height: 1.25em;
		}
	}
}
